<div class="container" style="width:500px;background-color:#fdfdfd;height:200px;box-shadow:1px 5px 10px 5px #3c3b3b;margin-top:100px;">
	<form action="/session/create" method="POST">
		<input type="text" placeholder="email" name="email"><br>
		<input type="password" placeholder="Password" name="password"><br>
		<input type="submit" class="btn" style="margin-left:40%;background-color:#1a69c1" value="Sign In">
		<br>
		<input type="hidden" name="_csrf" value="<%= _csrf %>" />
	</form>
</div>