<form action="/user/create" method="POST">
	
	<% if(flash && flash.err){ %>
	<ul>
	<% Object.keys(flash.err).forEach(function(error){ %>
	<li><%- JSON.stringify(flash.err[error]) %></li>
	<% }) %>
	</ul>
	<% } %>

	<input type="text" placeholder="your name" name="name"><br>

	<input type="text" placeholder="your title" name="title"><br>
	
	<input type="text" placeholder="email" name="email"><br>

	<input type="password" placeholder="Password" name="password"><br>

	<input type="password" placeholder="Confirm" name="confirmation"><br>

	<input type="submit" value="create account">
	<br>
	
	<input type="hidden" name="_csrf" value="<%= _csrf %>" />
</form>